/*
sources:
https://stackoverflow.com/questions/39926555/i-want-to-use-aria-expanded-true-to-change-a-css-property
https://www.w3schools.com/cssref/css3_pr_transform.asp
https://stackoverflow.com/questions/15167545/how-to-crop-a-rectangular-image-into-a-square-with-css
*/
body {
  background: #eeee;
}

#bottom {
  background: #F8F8F8;
  padding-right: 0px;
  padding-top: 16px;
  margin-bottom: 64px;
  min-width: 375px;
}

.toggled{
  transform-origin: 50% 50%;
  color:black;
}

.toggled:hover{
  text-decoration:none;
  color:black;
}

.toggled[aria-expanded="false"]:hover{
  text-decoration:underline;
}

.toggled[aria-expanded="true"]:hover{
  text-decoration:overline;
}

.toggled[aria-expanded="true"]{
  transform: rotate(-180deg);
  transform-origin: 50% 50%;
}

.container{
  max-width: 1000px;
}

#organizations{
  padding-right: 0px;
}

.tag-item {
  padding-top: 1px;
  padding-bottom: 1px;
}

i {
  display: inline;
  margin-right: 5px;
}

.heading {
  margin-bottom: 8px;
  display: inline;
}

h3 {
  display: inline;
  /* border-bottom: 1px dashed; */
}

.text {
  height: 180px;

  overflow: auto;
}

#bio {
  height: 100%;

  overflow: auto;
  margin-bottom: 16px;
  margin-top: 16px;
}

.main-info{
  margin-top: 15px; 
  margin-bottom:10px;   
  padding-bottom:15px; 
  min-width: 375px; 
  background-color: #F8F8F8;
}

.picture{
  margin: 10px 0px 10px 0px; 
  padding-left: 0px;
}

.pic-div {
  width: 340px;
  height: 340px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#profile-pic {
  margin: 0 auto;
  height: 340px;
  width: 340px;
  object-fit: cover;
}

.row {
  margin-bottom: 50px;

}

.btn-danger {
  background-color: #E9573F;
  border-color: #E9573F;
  color: white;
}

.panel-teal .panel-heading {
  background-color: #37BC9B;
  border: 1px solid #36b898;
  color: white;
}

.panel .panel-heading {
  padding: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #DDD;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.panel .panel-heading .panel-title {
  position: absolute;
  padding: 10px;
  font-size: 17px;
}

form .form-group {
  position: relative;
  margin-left: 0px !important;
  margin-right: 0px !important;
}



@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.page-header {
  text-align: center;
}


.btn-social {
  color: white;
  opacity: 0.9;
}

.btn-social:hover {
  color: white;
  opacity: 1;
}

.btn-google {
  background-color: #c32f10;
  opacity: 0.9;
}

.btn-facebook {
  background-color: #3b5998;
  opacity: 0.9;
}

.btn-twitter {
  background-color: #00aced;
  opacity: 0.9;
}

.btn-linkedin {
  background-color: #0e76a8;
  opacity: 0.9;
}

.btn-github {
  background-color: #000000;
  opacity: 0.9;
}



.bs-callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #79CDBF;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin-bottom: 5px;
  padding: 20px;
}

.bs-callout:last-child {
  margin-bottom: 0px;
}

.bs-callout h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

.bs-callout-danger {
  border-left-color: #79CDBF;
}

.bs-callout-danger h4 {
  color: #444444;
}

.resume .list-group-item:first-child,
.resume .list-group-item:last-child {
  border-radius: 0;
}


.inactive-link {
  pointer-events: none;
  cursor: default;
}

.resume-heading .social-btns {
  margin-top: 15px;
}

.resume-heading .social-btns i.fa {
  margin-left: -5px;
}



@media (max-width: 992px) {
  .resume-heading .social-btn-holder {
    padding: 5px;
  }
}



.progress-bar {
  text-align: left;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.progress-bar>.progress-type {
  padding-left: 10px;
}

.progress-meter {
  min-height: 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: 15px;
}

.progress-meter>.meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.progress-meter>.meter-left {
  border-left-width: 2px;
}

.progress-meter>.meter-right {
  float: right;
  border-right-width: 2px;
}

.progress-meter>.meter-right:last-child {
  border-left-width: 2px;
}

.progress-meter>.meter>.meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-weight: 700;
  font-size: 0.85em;
  color: rgb(160, 160, 160);
  text-align: left;
}

#thumb:hover{
  color:green;
  font-size:1.5em;
}

.progress-meter>.meter.meter-right>.meter-text {
  text-align: right;
}

#thumbs-label {
  float: left;
  display: flex;
  flex-direction: row;
}
#endorse {
  float: left;
  display: flex;
  flex-direction: column;
}

.button {     
  float: right;   
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;  
  width: 90px;
  height: 30px;
  background: #79BDBF;
  border-radius: 100px / 50px;   
}


.bio-div{
  color:black;
}