body {
    width: 50%;
    background-color: #edf0f2;
}

.login-page {
    width: 500px;
    height: 200px;
    margin: auto;
    background-color: white;
    color: black;
    text-align: left;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-title {
    font-size: 32px;
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 32px;
    background: #34a2fe;
    color: #f3f6f8;
<<<<<<< HEAD
=======

    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
>>>>>>> 43af8538113421732db06f69a92b639320dc4451
}

.google-button {
    text-align: center;
    padding-top: 28px;
}
img {
    max-width:200px;
    max-height:90px;
    width: auto;
    height: auto;
    transition: box-shadow .3s;
}
img:hover {
    box-shadow: 0 0 2px rgba(33,33,33,.2);
}