<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title> byteMe </title>
    </head>
    <header> </header>
    <body class = "container">
        <div class = "top_links" align = "right">
            <a class = "l" id = "profile" href="profile"  style="text-decoration: none"> Profile </a>
            <a class = "l" id = "Messages"  href = "#messages" style="text-decoration: none"> Messages </a>
        </div>

        <div class = "split_top">
            <div top = 0>
                <h1 class = "title" align = "center"> ByteMe </h1>
            </div>
        </div>
    </body>
    <footer>
    </footer>
</html>