<!--sources: https://getbootstrap.com/docs/4.0/components/navbar/
  https://github.com/CoreyMSchafer/code_snippets/tree/master/Django_Blog
  https://docs.djangoproject.com/en/2.2/intro/tutorial01/-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <title>{% block content1 %}{% endblock content1 %}</title>
</head>
<body>
    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-md navbar-dark bg-steel">
          <a class="navbar-brand mr-4" style="color:white;" href= "{% url 'app:home' %}">SkiMatch</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href= "{% url 'app:all_profiles' %}" > All Profiles </a>
              <a class="nav-item nav-link" href= "{% url 'app:published_profile' user.id %}" >Profile</a>
              <a class="nav-item nav-link" href= "{% url 'app:skills' %}" > Skills </a>

              <a class="nav-item nav-link" href= "{% url 'update_profile' %}" >Update Profile</a>
              {% comment %} 
              <a class="nav-item nav-link" >Friends</a> 
              {% endcomment %}
              <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
              {% csrf_token %}
                <div class = "form-group">
                  <input class="form-control mr-sm-2" id="search_field" name="search_field" type="search" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:#e7e7e7; border-color: #e7e7e7; color:black; margin-left:2px">Search</button>
            </form>
          </div>
      </nav>
    <main role="main" class="container">
            {% block content2 %}{% endblock content2 %}
      </main>
      
    {% block script %}{% endblock script %}
    {% endif %}
  </body>
</html>