{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <title>{% block content1 %}{% endblock content1 %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4">Skills Match</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" >News Feed</a>
              <a class="nav-item nav-link" >Messaging</a>
              <a class="nav-item nav-link" >Friends</a>
              <a class="nav-item nav-link" >Notifications</a>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.get_full_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href= "{% url 'app:published_profile' user.id %}" >Profile</a>
                  <a class="dropdown-item" href= "{% url 'app:update_profile' user.id %}" >Update Profile</a>
                  <a class="dropdown-item" href="/app/settings">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
              </li>
            </div>
          </div>
          <div>
              <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <div class = "form-group">
                  <input class="form-control" id="search_field" name="search_field" type="search" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background-color:#e7e7e7; border-color: #e7e7e7; color:black">Search</button>
              </form>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
          {% block content2 %}{% endblock content2 %}
    </main>
        
    </div>
    {% block script %}{% endblock script %}
    {% endif %}
  </body>
</html>