{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
<h1>{{ "Create Your Profile:" }}</h1>

<form action="{% url 'app:profile' %}" method="post">
    {% csrf_token %}
    <div class = "form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div class = "form-group">
        <label for="year">Year:</label>
        <input type="text" id="year" name="year">
    </div>
    <div class = "form-group">
        <label for="major">Major:</label>
        <input type="text" id="major" name="major">
    </div>
    <div class = "form-group">
        <label for="bio">Bio:</label>
        <textarea type="text" id="bio" name="bio" rows="3"></textarea>
    </div>
    <div class = "form-group">
        <label for="skills">Skills:</label>
        <input type="text" id="skills" name="skills">
    </div>
    <div class = "form-group">
        <label for="courses">Courses:</label>
        <input type="text" id="courses" name="courses">
    </div>
    <div class = "form-group">
        <label for="organizations">Organizations:</label>
        <input type="text" id="organizations" name="organizations">
    </div>
    <div class = "form-group">
        <label for="interests">Interests:</label>
        <input type="text" id="interests" name="interests">
    </div>
    <div class = "form-group">
        <input type="submit" value="Publish">
    </div>
</form>


<!--<!DOCTYPE html>-->
<!--<html>-->
    <!--<head>-->
        <!--<link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">-->
        <!--<title> Your Profile </title>-->
    <!--</head>-->
    <!--<header> </header>-->
    <!--<body class = "container">-->
        <!--<div class = "split_top">-->
            <!--<div top = 0>-->
                <!--<h1 class = "title" align = "center"> Profile </h1>-->
            <!--</div>-->
        <!--</div>-->
    <!--</body>-->
    <!--<footer>-->
    <!--</footer>-->
<!--</html>-->