{% extends "app/base.html" %}
{% block title %}{% endblock %}
{% block content2 %}
    <h1>{{ "Create Your Profile:" }}</h1>
    <form action="{% url 'profile' %}" method="post" class="needs-validation">
        {% csrf_token %}
        <div class = "form-group">
            <label for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name" required="true">
        </div>
        <div class = "form-group">
            <label for="year">Year:</label>
            <select class="form-control" id="exampleFormControlSelect1" required="true">
                    <option value = "" disabled selected hidden>Select...</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>Graduate Student</option>
                    <option>Faculty</option>
                    <option>Other</option>
                  </select>
        </div>
        <div class = "form-group">
            <label for="major">Major:</label>
            <input class="form-control" type="text" id="major" name="major" required="true">
        </div>
        <div class = "form-group">
            <label for="bio">Bio:</label>
            <textarea class="form-control" type="text" id="bio" name="bio" rows="4"></textarea>
        </div>
        <div class = "form-group">
            <label for="skills">Skills:</label>
            <input class="form-control" type="text" id="skills" name="skills">
        </div>
        <div class = "form-group">
            <label for="courses">Courses:</label>
            <input class="form-control" type="text" id="courses" name="courses">
        </div>
        <div class = "form-group">
            <label for="organizations">Organizations:</label>
            <input class="form-control" type="text" id="organizations" name="organizations">
        </div>
        <div class = "form-group">
            <label for="interests">Interests:</label>
            <input class="form-control" type="text" id="interests" name="interests">
        </div>
        <div class = "form-group">
            <input class="form-control" type="submit" value="Publish">
        </div>
    </form>
{% endblock %}