<!--Based on template: https://bootsnipp.com/snippets/MRgWB-->
<!-- formating from : https://getbootstrap.com/docs/4.3/layout/grid/-->
<!--font-awesome icons: https://www.w3schools.com/icons/fontawesome_icons_webapp.asp-->

{% extends "app/base.html" %}
{% load static %}
<meta charset="UTF-8">
<head>
   <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
{% block content1 %}
User Profile
{% endblock content1 %}
{% block content2 %}
{% if profile %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="panel panel-default">
         <div class="panel-heading resume-heading" id = "top-header"></div>

    </div>
        <div class="row container main-info">
            <div class="col-sm picture">
                <div class="pic-div">
                    <!-- class="img-circle img-responsive" style="border-radius: 50%; position: absolute; left: 40px; width: 350px" -->
                    <img id = "profile-pic" alt="" src="{{ profile.image.url }}">
                </div>
                <div class="row">
                    <div class="col-xs-12 social-btns" style="display: inline-block; padding-left: 95px; margin-top: 10px;">
                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute;">
                            <a href="{{profile.facebook_url}}" class="btn btn-social btn-block btn-facebook" style="width: 40px; height: 40px">
                            <i class="fa fa-facebook"></i> </a>
                        </div>
                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute;margin-left:45px;">
                              <a href="{{profile.twitter_url}}" class="btn btn-social btn-block btn-twitter"style="width: 40px; height: 40px">
                              <i class="fa fa-twitter"></i> </a>
                        </div>
                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute; margin-left:90px; ">
                            <a href="{{profile.linkedin_url}}" class="btn btn-social btn-block btn-linkedin"style="width: 40px; height: 40px">
                            <i class="fa fa-linkedin"></i> </a>
                        </div>
                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute; margin-left:135px;">
                            <a href="{{profile.github_url}}" class="btn btn-social btn-block btn-github"style="width: 40px; height: 40px">
                            <i class="fa fa-github"></i> </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm" style = "margin-top:10px">
                <div class="col-xs-12 col-sm-4" style ="padding-right:0px;">
                    <h1 style=" min-width: 350px; padding-bottom:20px;">{{ profile.name }}</h1>
                </div>
                    <ul class="list-group">

                        <li class="list-group-item"><i class="fa fa-exclamation-circle" aria-hidden="true"></i><strong>Status: </strong>{{profile.status}} </li>
                        <li class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i><strong>Year: </strong>{{profile.year}}</li>
                        <li class="list-group-item"><i class="fa fa-graduation-cap" aria-hidden="true"></i><strong>Major: </strong>{{profile.major}} </li>
                        <li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i><strong>Email: </strong><a href="mailto:{{profile.user_id}}@virginia.edu?Subject=Hello">{{profile.user_id}}@virginia.edu</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class = "container row" id="bottom">
            <div class="col-sm">
                <div class="container">
                    <div class="col-sm">
                        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                        <h3 class="heading" style = "position: relative; padding-left: 15px; top:5px">Bio</h3>
                        <div id="bio" style="font-size: large">
                            {{profile.bio}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="container">
                    <div class="row" id = "accordion" style = "margin-bottom:10px;">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#skills" aria-expanded="false" aria-controls="collapseOne" style = "text-align:left;">
                                <i class="fa fa-star fa-lg" aria-hidden="true" style="width: 0px; margin-bottom:10px; margin-right:30px;"></i>
                                <h3 class="heading">Skills</h3>
                            </button>
                    </div>
                    <div class="col-sm">
                        <div id="skills" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="text" style="font-size: large">
                                {% for skill in profile.skills_as_list%}
                                    <div class="tag-item">
                                        <div id = "endorse row" class = "box row" style= "margin-bottom:0px;">
                                            <div class = "col-sm my-auto" style= "padding-right:0px;">
                                            <p style = "vertical-align: middle; margin-bottom:0px;">{{ skill.name }} </p>
                                            </div>
                                            {% if request.user.id != profile.id %}
                                            <div class = "col-sm"  style = "padding-left:0px; padding-right:0px; ">
                                                <form action="{% url 'app:endorse' skill.id profile.id%}" method="POST" name = "{{skill.name}}">
                                                    <button class = "btn btn-link" type="submit" name= "{{skill.name}}">
                                                        <i class="fa fa-thumbs-o-up fa-lg" id = "thumb" name= "{{skill.name}}"></i>
                                                        </button>
                                                    {% csrf_token %}
                                                </form>
                                            </div>
                                            {% endif %}
                                        </div>
                                            <div class = "thumbs-label row" style = "margin-bottom: 0px; margin-left:0px;">
                                                <strong> Endorsements: </strong> {{ skill.endorse }}
                                            </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row" style = "margin-bottom:10px;">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#courses" aria-expanded="false" aria-controls="collapseTwo" style = "text-align:left;">
                                <i class="fa fa-book fa-lg" aria-hidden="true" style="width: 0px; margin-bottom:10px; margin-right:30px;"></i>
                                <h3 class="heading">Courses</h3>
                            </button>
                    </div>
                    <div class="col-sm">
                        <div id="courses" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="text" style="font-size: large;">
                                {% for course in profile.courses_as_list %}
                                    <div class="tag-item">{{ course }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="container">
                    <div class="row" style = "margin-bottom:10px;">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#organizations" aria-expanded="false" aria-controls="collapseThree" style = "text-align:left;">
                            <i class="fa fa-users fa-lg" aria-hidden="true" style="width: 0px; margin-bottom:10px; margin-right:30px;"></i>
                            <h3 class = "organizations">Organizations</h3>
                        </button>
                    </div>
                    <div class="col-sm">
                        <div id="organizations" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="text" style="font-size: large;">
                                {% for organization in profile.organizations_as_list %}
                                    <div class="tag-item">{{ organization }}</div>
                                {% endfor %}
                           </div>
                        </div>
                    </div>
                    <div class="row" style = "margin-bottom:10px;">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#interests" aria-expanded="false" aria-controls="collapseFour" style = "text-align:left;">
                                <i class="fa fa-heart fa-lg" aria-hidden="true" style="width: 0px; margin-bottom:10px; margin-right:30px;"></i>
                                <h3 class="heading">Interests</h3>
                           </button>
                    </div>
                    <div class="col-sm">
                        <div id="interests" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="text" style="font-size: large;">
                              {% for interest in profile.interests_as_list %}
                                 <div class="tag-item">{{ interest }}</div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} 
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#bio" aria-expanded="false" aria-controls="collapseOne">
                            Bio
                            </button>
                        </h5>
                    </div>
                    <div id="bio" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body"> 
                            {{profile.bio}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#skills" aria-expanded="false" aria-controls="collapseTwo">
                            Skills
                            </button>
                        </h5>
                    </div>
                    <div id="skills" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            {{profile.skills}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#courses" aria-expanded="false" aria-controls="collapseThree">
                            Courses
                            </button>
                        </h5>
                    </div>
                    <div id="courses" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                            {{profile.courses}}
                            </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#organizations" aria-expanded="false" aria-controls="collapseOne">
                            Organizations
                            </button>
                        </h5>
                    </div>
                    <div id="organizations" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body"> 
                        {{profile.organizations}}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#interests" aria-expanded="false" aria-controls="collapseOne">
                            Interests
                            </button>
                        </h5>
                    </div>
                    <div id="interests" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body"> 
                            {{profile.interests}}
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
{% else %}
<p>There is currently no user data.</p>
{% endif %}
{% endblock content2 %}