{% extends "app/base.html" %}
{% load static %}
<head>
   <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
{% block content1 %}
User Profile
{% endblock content1 %}
{% block content2 %}
{% if profile %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="row">
      <div class="panel panel-default">
         <div class="panel-heading resume-heading" id = "top-header"></div>
         <div class="row">
            <div class="col-lg-12">
               <div class="main-info" style="width: 1000px; height: 450px; margin: 30px 50px; padding: 30px 20px; position: absolute; background-color: #F8F8F8;">
                  <div class="col-xs-12 col-sm-4" style="position: absolute;">
                    <div class="pic-div">
                    <!-- class="img-circle img-responsive" style="border-radius: 50%; position: absolute; left: 40px; width: 350px" -->
                        <img id = "profile-pic" alt="" src="{{ profile.image.url }}">
                    </div>
                     <div class="col-xs-12 col-sm-4" style="position: absolute; left: 400px; top: 30px; display:inline;">
                        <h1 style=" width: 500px;">{{ profile.name }}</h1>
                     </div>
                     <div class="row">
                        <div class="col-xs-12 social-btns" style="display: inline-block; padding-left: 80px;">
                           <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute; top: 340px;">
                              <a href="#" class="btn btn-social btn-block btn-google" style="width: 40px; height: 40px">
                              <i class="fa fa-google"></i> </a>
                           </div>
                           <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute; top: 340px; margin-left:45px;">
                              <a href="#" class="btn btn-social btn-block btn-facebook" style="width: 40px; height: 40px">
                              <i class="fa fa-facebook"></i> </a>
                           </div>
                           <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute; top: 340px;margin-left:90px;">
                              <a href="#" class="btn btn-social btn-block btn-twitter"style="width: 40px; height: 40px">
                              <i class="fa fa-twitter"></i> </a>
                           </div>
                           <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute; top: 340px;margin-left:135px; ">
                              <a href="#" class="btn btn-social btn-block btn-linkedin"style="width: 40px; height: 40px">
                              <i class="fa fa-linkedin"></i> </a>
                           </div>
                           <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder" style="position: absolute; top:340px; margin-left:180px;">
                              <a href="#" class="btn btn-social btn-block btn-github"style="width: 40px; height: 40px">
                              <i class="fa fa-github"></i> </a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-8">
                     <ul class="list-group" style="position: absolute; left: 410px; width: 400px; top: 110px;">
                        <li class="list-group-item"><strong>Year: </strong>{{profile.year}}</li>
                        <li class="list-group-item"><strong>Major: </strong>{{profile.major}} </li>
                        <li class="list-group-item"><i class="fa fa-envelope" style="margin-right: 5px;"></i><a href="mailto:{{profile.user_id}}@virginia.edu?Subject=Hello">{{profile.user_id}}@virginia.edu</a></li>
                        <li class="list-group-item"><strong>Status:</strong> {{profile.status}} </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div style="position: absolute; top: 500px; left: 50px; width:1000px">
               <div id="accordion">
                  <div class="card">
                     <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#bio" aria-expanded="false" aria-controls="collapseOne">
                           Bio
                           </button>
                        </h5>
                     </div>
                     <div id="bio" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body"> 
                           {{profile.bio}}
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#skills" aria-expanded="false" aria-controls="collapseTwo">
                           Skills
                           </button>
                        </h5>
                     </div>
                     <div id="skills" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                           {{profile.skills}}
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#courses" aria-expanded="false" aria-controls="collapseThree">
                           Courses
                           </button>
                        </h5>
                     </div>
                     <div id="courses" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           {{profile.courses}}
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#organizations" aria-expanded="false" aria-controls="collapseOne">
                           Organizations
                           </button>
                        </h5>
                     </div>
                     <div id="organizations" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body"> 
                           {{profile.organizations}}
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#interests" aria-expanded="false" aria-controls="collapseOne">
                           Interests
                           </button>
                        </h5>
                     </div>
                     <div id="interests" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body"> 
                           {{profile.interests}}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% else %}
<p>There is currently no user data.</p>
{% endif %}
{% endblock content2 %}