{% extends "app/base.html" %}

{% load static %}

{% block content1 %}
    User Profile
{% endblock content1 %}
{% block content2 %}
<link href="{% static 'published_profile.css' %}" type="text/css" rel="stylesheet">

{% if profile %}
    <ul>
        <h2>{{profile.name}}</h2>
        <div id = "main_info">
                <li>Year: {{ profile.year }}</li>
                <li>Major: {{ profile.major }}</li>
        </div>
            <div>
                <li>Bio: {{ profile.bio }}</li>
            </div>
            <li>Skills: {{ profile.skills }}</li>
            <li>Courses: {{ profile.courses }}</li>
            <li>Organizations: {{ profile.organizations }}</li>
            <li>Interests: {{ profile.interests }}</li>
    </ul>
    {% for tag in profile.tags.all %}
    {% comment %} TODO this needs to be endorsed when clicked {% endcomment %}
        <button class="tag">{{ tag }}</button>
    {% endfor %}
{% else %}
    <p>There is currently no user data.</p>
{% endif %}
{% endblock content2 %}