{% extends "app/base.html" %}
{% block content1 %}
    User Profile
{% endblock content1 %}
<!--<h1>{{ "Update Your Profile:" }}</h1>-->

{% block content2 %}
s{% if profile %}
<form action="{% url 'app:update_profile' %}" method="post">
    {% csrf_token %}
    <ul>
        <h2><label for="name">Name:</label>
        <input type="text" id="name" name="name"></h2>
        <!--<div id = "main_info">-->
            <li><label for="year">Year:</label><input type="text" id="year" name="year"></li>
            <li><label for="major">Major:</label><input type="text" id="major" name="major"></li>
        <!--</div>-->
            <div>
                <li><label for="bio">Bio:</label><textarea type="text" id="bio" name="bio" rows="3"></textarea></li>
            </div>
            <li>label for="skills">Skills:</label><input type="text" id="skills" name="skills"></li>
            <li><label for="courses">Courses:</label><input type="text" id="courses" name="courses"></li>
            <li><label for="organizations">Organizations:</label><input type="text" id="organizations" name="organizations"></li>
            <li><label for="interests">Interests:</label><input type="text" id="interests" name="interests"></li>
        <div class = "form-group">
            <input type="submit" value="Update">
        </div>
    </ul>
</form>
{% else %}
    <p>There is currently no user data.</p>
{% endif %}
{% endblock content2 %}